*{
    margin:0;
    padding:0px;
    box-sizing:border-box;
}

body{
   
    font-family: sans-serif;
    line-height: 1.4;
   
    

   
}

.product{
     border:2px solid black;
    
   
     width: 825px;
     margin: 50px auto;
     /* padding:25px; */
     position:relative;
 }

 .sale{
    background-color:red;
    color:#fff;
   
    font-size:14px;
    text-transform:uppercase;
    font-size:bold;
    padding:5px 13px;
    display:inline;
    position:absolute;
    letter-spacing:2px;
   top:-17px;
   left:-35px;
}

     .product-title{
         font-size: 20px;
          background-color: #f7f7f7;
          text-align: center;
          margin-top: 0;
          padding:20px;
          text-transform: uppercase;
     }

.price{
    font-size:24px;
}

.product-price{
    display:flex;
    justify-content:space-between ;
    align-items: center;
  margin-bottom:20px;
   margin-top:30px;
}

.shipping{
    font-size:12px;
    text-transform: uppercase;
    font-weight: bold;
    color:gray;
}

.product-img{
    width: 150px;
    height:150px;
    margin-right:30px;
  margin-bottom:30px;
  flex:1;
   
}

.more-info:link ,.more-info:visited  {

    color:black;
    margin-bottom: 30px;
    display:inline-block;
}



.more-info:hover, .more-info:active{
    text-decoration: none;
}

.product-colors{
    display:flex;
    gap:10px;
  }

.color{
    width:22px;
    height:22px;
    background-color:black;
    
}

.blue{
    background-color:skyblue;
}
.red{
    background-color:red;
}
.yellow{
    background-color:#ffff48;
}
.green{
    background-color:#48ff48;
}
.brown{
    background-color:brown;
}


.product-details{
    text-transform: uppercase;
    font-size:17px;
    margin-top:30px;
    margin-bottom:15px;

}


.product-list{
    list-style: square;
    margin-left: 25px;
}

.product-list li{
    margin-bottom:10px;
}

.button:hover{
    background-color:#ffffff;
    color:black;
 
 }
 
 
 .button{
    background-color:black;
    border:none;
     color:white;
     text-transform:uppercase ;
      cursor:pointer;
      padding:15px;
      width:100%;
      font-size:20px;
      border-top:2px  solid black;
 
 }
